* {
    margin: 0;
    padding: 0;
    border: 0;
}
*,*::before,::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-weight: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,-a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body {
    font-size: 14px;
    font-weight: 400;
    color: #171717;
    font-family: inter;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.header {
    margin-top: 37px;
    margin-bottom: 111px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__logo {
    line-height: 120%;
    font-size: 30px;
    font-family: Happy Monkey;
}
.header__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    align-items: center;
}
.menu__list {
    padding: 0 25px;
}
.menu__link {
    font-size: 16px;
    color: #171717;
    font-weight: 600;
}
.header__contact {
    display: flex;
    align-items: center;
}
.header__icon {
    margin-right: 27px;
    min-width: 19px;
    min-height: 19px;
    border-radius: 100%;
    border: 1px solid #171717;
}
.header__link {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    border: 1px solid #8B8B8B;
}
.main {
}

/* .................................................................................. */

.main__premium {
}
.premium {
    margin-bottom: 96px;
}
.premium__container {
}
.premium__body {
    display: flex;
    margin: 0 -12px;
    flex-wrap: wrap;
    align-items: center;
}
.premium__left {
    max-width: 560px;
    padding: 0 12px;
    flex: 0 1 50%;
}
@media (max-width:1190px) {
    .premium__left {
        max-width: 560px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .premium__right {
    }
}
.premium__title {
    font-family: Happy Monkey;
    font-size: 70px;
    line-height: 125%;
    margin-bottom: 20px;
}
@media (max-width:800px) {
    .premium__title {
        font-size: 45px;
    }
}

.premium__subtitle {
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 40px;
    max-width: 412px;
    color: rgba(23, 23, 23, 0.6);
}
.premium__btn {
    background-color: #FFDF4B;
    font-weight: 500;
    padding: 16px 32px;
}
.premium__right {
    padding: 0 12px;
    flex: 0 1 50%;
    margin-right: -111px;
}
.number {
    font-size: 140px;
    font-weight: 900;
    color: #F5F5F3;
    position: relative;
    z-index: 5;
}
.premium__img {
    margin-top: -180px;
}
@media (max-width:700px)  {
    .number {
        font-size: 100px;
    }
    .premium__img {
        width: 120%;
    }
}


/* .................................................................................. */


.footer {
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
}
.footer__left {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    max-width: 552px;
}
.left__column {
    padding: 20px 10px;
    flex: 0 1 50%;
}
.select {
    min-width: 226px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1)
}
.option {
}
.footer__right {
    display: flex;
}
.footer__number {
    display: flex;
    flex: 0 1 50%;
    color: #000000;
}
.footer__img {
    flex: 0 1 50%;
}
